
*{box-sizing: border-box;}
html body{font-family: Verdana,sans-serif;}
/* Nav Bar Box */
#navBar{width: 100%;height: 40px;background-color: black; position: fixed;}
 
ul li{display: inline-block;}
ul li a{display: inline-block;padding-top: 13px;text-align: center;width: 80px;height: 40px;
    text-decoration: none;color: white;font-size: 15px;font-family: Verdana,sans-serif;}
#logo{margin-right: 15px;}
#logoBox{color: white;width: 100px;height: 40px;background-color: #009688; padding-top: 13px;
    text-align: center;font-family: Verdana,sans-serif;}
#logoBox:hover{background-color: rgb(179, 175, 175);color: black;}
ul li a:hover{background-color: white;color: black;}
/* Drop Down 'Nav' Bar menu ................. */
#dropDown{position: relative;}
#dropdownbtn{background-color: black;height: 37px;border: none;color: white;font-size: 15px;}
#dropContent{display: none;background-color: white; min-width: 160px;position: absolute;border: 1px solid lightgray;}
.content{width: 190px;color: black;font-size: 15px;font-family: Verdana,sans-serif;text-decoration: none;
    text-align: left;padding-left: 20px;}
#dropdownArrow{margin-left: 10px;}
#dropDown:hover #dropContent{display: block;}
.content:hover{background-color: lightgray;color: black;}
#dropdownbtn:hover{background-color: white;color: black;}
/* Search Icon on Nav */
#searchBox{float: right;}
#searchIcon{font-size: 17px;color: white;padding: 14px 0px 0px 10px;height: 40px;width: 40px;}
#searchIcon:hover{background-color:#009688;}

/* Header Image .................................*/
#headerImg{width: 100%;height: 600px;}
#headerTitleBox{width: 250px;height: 50px;margin-left: 30px;margin-top: -70px;}
#headertilte{text-decoration: none;font-size: xx-large;text-align: center;color: white;
    padding-top: 50px;padding-left: 20px;}
#headertilte:hover{color: limegreen;}

/* ...................... main ...................................*/
/* Our Team......... */
#bodyTitle{width: 100%;text-align:center;height: 100px;}
#bodyTitle h2{font-size: larger;margin-top: 100px;font-size: xx-large;font-family: verdana,sans-serif;}
#bodyTitle p{font-size: large;margin-top: 15px;}

.classcontact{display: inline-block;margin-left: 80px;margin-right: 70px;height: 200px;}
.classcontact img{width: 140px;height: 140px;border-radius: 150px;}
.classcontact img:hover{opacity: 0.6;}
.classcontact h2{font-size: x-large;text-align: center ;margin-top: 10px;}
.classcontact p{text-align: center;margin-top: 10px;font-size: large;}
#contactId1{margin-left: 100px;}

/* OUR WORK..................................................... */
#ourworkdiv{width: 100%;height: 620px;margin-top: 60px;background-color:rgb(46, 43, 43);}
#ourworkdiv div{width: 295px;height: 450px;display: inline-block; margin: 55px 5px 0px;}
#ourworkparagraph{margin-left: 20px;background-color: none;}
#ourworkparagraph h2{font-size: 30px;font-family: verdana, sans-serif; color: white;padding-top: 40px;padding-left: 10px;}
#ourworkparagraph p{font-size: 20px;font-family:Verdana,sans-serif; color: white;
    padding-top: 20px;padding-left: 10px;}
#ourworkdiv div img{width: 295px;height: 200px;margin-right: 70px;}
.ourworksection{background-color: white;padding-right: 5px;}
.ourworksection h2{padding-top:10px;padding-left: 10px;color: black;font-size: 28px;}
.ourworksection h3{color: black;font-size: 22px;padding-top: 12px; padding-left: 10px;}
.ourworksection p{color: black;font-size: 18px;padding-top: 19px; padding-left: 10px;}
/*... SideBar ...*/
#sideBarBtn{background-color: #009688;color: white;text-align: center;border-radius: 90px;
    border-style: hidden;width: 50px;height: 50px;float: right;margin: -25px 25px 0px 0px;}
#sideBarBtn:hover{background-color: lightgray;color: black;}
#sideBarIcon{font-size: 15px;font-style: normal;}
.mySideBar{width: 0;height: 100%;background-color: white;transition: 0.5s;overflow-x: hidden;
    z-index: 1;position: fixed;top: 0;left: 0;}
.mySideBar a{width: 100%;height: 70px;line-height: 70px; font-size: 35px;text-decoration: none;
    color: black; padding-left: 18px;display: block;text-align: center;
    font-family: Verdana, sans-serif;text-align: left;transition: 0.3s;}
#sideBarClose{margin-bottom: 55px;color: #009688;padding: 8px 16px;}
#sideBarClose:hover{color: black;}
.mySideBar a:hover{background-color: lightgray;}
#barInsideIcon{margin-left: 10px;}

/* ..................... Pricing Section ............................. */
#pricingtitle{font-size: 30px;margin-top: 80px;text-align: center;}
#pricingpara{font-size: 20px;margin-top: 25px;text-align: center;}

.pricingdivs{width: 400px;height: 547px;display: inline-block;margin-top: 30px; border: 1px solid gray;
    margin-left: 10px; font-family: Verdana,sans-serif;}
.pricingdivs .one{width: 100%;height: 80px;background-color: black;}
.pricingdivs .one p{font-size: 25px;text-align: center;padding-top: 25px;color: white;}
#middleone{background-color: gray;}
.pricingdivs p b{font-weight: bold;}/*Bolding some text*/
.pricingdivs p{font-size: 20px;text-align: center;padding-top: 25px;padding-bottom: 10px;}
#permonth{padding-bottom: 15px;padding-top: 5px; color: rgb(156, 152, 152);}
.pricingdivs .two{width: 100%;height: 80px;background-color: #f0f0f0 ;text-align: center;}
.pricingdivs .two button{font-size: 15px;margin-top: 30px;border-radius: 3px;
    text-decoration: none;color: white;background-color: #009688;padding: 8px 15px 0px 15px;
    border: hidden;}
.pricingdivs:hover{box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}
.pricingdivs .two button:hover{background-color: gray;color: black;}

/* ...................... Contact Us.................................. */
#contactUs{width: 100%;height: 450px; background-color: #f0f0f0;margin-top: 64px;}
#contactUs div{display: inline-block;}
#contactInfo{margin: 80px 10px 0px 20px;width: 500px;height: 280px;}
#contactInfo h2{font-size: 25px;color: black;border-bottom: 6px solid #009688;margin-bottom: 30px;
    display: inline-block;}
#contactInfo h3{font-size: 22px;color: black;margin-bottom: 22px;}
#contactInfo p{font-size: 15px;margin-bottom: 22px;}
#contactInfo p i{color: #009688;padding-right: 10px;}

#inputsDiv {width: 700px;background-color: white;margin-top: 55px;height: 315px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}
.blockOrder{display: block;width: 650px;margin-left: 10px;}
#inputsDiv label{margin: 10px 10px ;}
#inputsDiv input{margin-left: 10px;border: hidden;border-bottom: 1px solid lightgray;height: 40px;}

.checkBANDlabel{margin: 20px 0px 10px 15px;}
#inputsDiv label:first-child{margin-top: 30px;}
#inputsDiv input:nth-child(7){width: 17px;height: 17px;margin-right: 0;}
#inputsDiv button{float: right; width: 60px;height: 35px;margin-right: 15px;background-color: black;
    color: white;border: hidden;}
#inputsDiv button:hover{background-color: lightgray;color: black;}

/* ............last Img */
#lastImg{width: 100%;}

/* .......................... THE FOOTER .............................. */
footer{width: 100%;height: 250px;background-color: black;margin-top: -2px;}
footer h2{color: white;text-align: center;padding: 60px 0px 10px 0px;font-size: 20px;}
footer a{font-size: 25px;padding-left: 10px;background-color: #009688;}
#firstFooterIcon{margin-left: 580px;}
#lastFootericon{float: right;margin-right: 30px;}
/* footer a:first-child{margin: 500px;color: white;} */